@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #35363a;
  --secondary: #522085;
  --secondaryhover: #522085cb;
  --secondarypressed: #5220857e;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);  
  border-radius: 14px;
  border: 3px solid var(--primary);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondaryhover);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--secondarypressed);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



html,
body {  
  scroll-padding:
    var(--scroll-padding, 5rem);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
  background: url(../public/hero_2.jpg);  
  font-size: 12.0em;
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

.will-change-transform {
  will-change: transform;
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: cursor 0.6s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {
  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}

.circle { 
  width: 10px;
  height: 10px;
  background: #b160ef; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;

}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bganimation {
  background-size: 200%;

  -webkit-animation: AnimationBG 5s ease infinite;
  -moz-animation: AnimationBG 5s ease infinite;
  animation: AnimationBG 5s ease infinite;
}

@keyframes AnimationBG {
  
  0% {
    background-position: 0% 0%;    
  }
  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}


.pulse1 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 0ms;
  
}
.pulse2 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 500ms;
  
}
.pulse3 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 1s;
  
}
.pulse4 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 1.5s;
  
}
.pulse5 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 2s;  
}
.pulse6 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 2.5s;  
}
.pulse7 {
  -webkit-animation: 1s linear 1s infinite alternate pulsation;
  -moz-animation: 1s linear 1s infinite alternate pulsation;
  -o-animation: 1s linear 1s infinite alternate pulsation;
  animation: 1s linear 1s infinite alternate pulsation;
  animation-delay: 3s;  
}

@-webkit-keyframes pulsation {
  from {opacity: 0;}  
  to {opacity: 100;}
}
@-moz-keyframes pulsation {
  from {opacity: 0;}
  to {opacity: 100;}
}
@-o-keyframes pulsation {
  from {opacity: 0;}
  to {opacity: 100;}
}
@keyframes pulsation {
  from {opacity: 0;}
  to {opacity: 100;}
}